@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Lato", "IBM Plex Sans Arabic";
}
@font-face {
  font-family: BNazanin;
  src: url("../fonts/bnazanin.ttf") format("truetype");
}
@font-face {
  font-family: Iranian-Sans;
  src: url("../fonts/Iranian-Sans.ttf") format("truetype");
}
.btn {
  @apply lowercase;
}
