@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination li.active {
  background-color: #404140;
  color: white;
}

* {
  font-family: "Lato", Vazir;
}
@font-face {
  font-family: BNazanin;
  src: url("../fonts/bnazanin.ttf") format("truetype");
}
@font-face {
  font-family: Iranian-Sans;
  src: url("../fonts/Iranian-Sans.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.ttf") format("truetype");
}
